[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
faker = "*"
python-dotenv = "*"
flask-cors = "*"
flask-uploads = "*"
flask-whooshee = "*"
flask-migrate = "*"
pymysql = "*"
flask-sqlalchemy = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.7"
